/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Buttons */

/* Clearfix */

/* Custom Styles */

body {
	background-color: rgba(135, 255, 99, 0.1);
	font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
}

/* Grid Layout */

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-3,
.col-2-3 {
	display: inline-block;
	vertical-align: top;
}

.col-1-3,
.col-2-3 {
	padding-left: 15px;
	padding-right: 15px;
}

.row {
	background: #fff;
	min-width: 960px;
	padding: 66px 0 44px 0;
}

/* Home */

.speaker-info {
	border: 1px solid #df32e5;
	border-radius: 5px;
	margin-top: 88px;
	padding-bottom: 22px;
	text-align: center;
}

.speaker {
	margin-bottom: 44px;
}

.speaker-info img {
	border-radius: 50%;
	height: 130px;
	margin: -66px 0 22px 0;
	vertical-align: top;
}

/* Images */

/* Links */

a {
	text-decoration: none;
}

/* Navigation */

.nav {
	background-color: #3dcc12;
	border: 1px solid #437f32;
	border-radius: 4px;
	font-size: 14px;
	line-height: 1;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav li {
	border-right: 1px solid #fff;
	float: left;
	transition: background-color 0.5s ease;
}

.nav li:hover {
	background-color: #267f0b;
}

.nav li a {
	color: #fff;
	display: inline-block;
	padding: 14px 16px;
	text-align: center;
}

/* Primary Header */

/* Primary Footer */

/* Rows */

/* Typography */
