body {
				text-align: center;
				background-color: #DDDFE5;
				font-family: 'Exo 2', sans-serif;
				color: #FF5900;
			}

header {
	text-align: center;
    background: url("http://i.imgur.com/iGffrcY.jpg");
    background-size:cover;
}

img {
	border-radius: 100px;
}


nav a {
	background-color: rgba(255,116,0, 0.2);
	text-decoration: none;
	color: #ff5900;
	padding: 15px;
	display: inline;
	
}

li {
	display: inline;
	list-style-type: none;
}

a:link {
	color: #ff5900;
	text-decoration: none;
}

a:visited {
	color: #DDDFE5;
}


footer{
	text-align: center;
	clear: both;
}

.clearfix.after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
