body {
				text-align: center;
				background-color: #DDDFE5;
				font-family: 'Exo 2', sans-serif;
				color: #FF5900;
			}

header {
	text-align: center;
    background: url("https://speakeasyohiou.files.wordpress.com/2014/01/cincinnati-skyline_1.jpg");
    background-size:cover;
    height: 550px;
    position: relative;

}

h2 {
	background-color: rgba(255,116,0, 0.2);
	padding: 25px;
	margin-bottom: 0px;
	color: #DDDFE5;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;

}

img {
	border-radius: 100px;
}

nav{
	background-color: rgba(255,116,0, 0.2);
	padding: 15px;
}

nav a {
	text-decoration: none;
	color: #ff5900;
	padding: 15px;
	display: inline;
}

nav a:hover{
	background-color: rgba(221, 223, 229, 0.2);
}

li {
	display: inline;
	list-style-type: none;
}

a:link {
	color: #DDDFE5;
	text-decoration: underline;
}

a:visited {
	color: none;
	text-decoration: none;
}


footer{
	text-align: center;
	clear: both;
}

.clearfix.after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
