body {
    background-color: #F0F6F7;
  }
header {
}
/*img {
  float:left;
  height: 200px;
}*/
h1 {
  display: inline-block;
  font-size: 130px;
  font-weight: lighter;
  letter-spacing: 9px;
  padding-top: 10px;
  padding-left: 50px;
  margin: 0;

nav {
  clear:both;
  background-color: #A86828;
  font-family: Baskerville, serif;
  text-align: left;
}
a {
  background-color: #A86828;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  letter-spacing: 3px;
  margin: 0;
}
.space-left {
  padding: 15px;
}

}
footer {
  text-align: center;
  font-size: .7em;
}
