div.container {
	background: #335C7D;
}

header {
	position: fixed;
	width: 100%;
	background: #efc47D;
	height: 110px;
	transition: all 0.4s ease;
}

.logo {
	
}

header.sticky {
	background: #efc47D;
}

div.clearfix {
	clear: all;
}

div.col {
	background: lightgrey;
	height:	600px;
}

div.col-6 {
	background: rgb(170, 237, 193);
	height: 600px;
	margin: 10px;
}