/*Header Area*/
header{
	width: 100%;
	height: 100px;
	background-color: lightyellow;
	border-radius: 10px;
	margin: 5px;
}

#logo {
	padding: none;
	margin-top: -37px;

}

#share {

}

ul {

}

.clearfix {
	clear: all;
}

/*Board Area*/
#board {
	width:48%;
	height: 500px;
	background: lightgreen;
	border-radius: 20px;
	margin: 3px;
	float: left;
	display: flex;

}

.cards, .playCard{
	width: 100px;
	height: 150px;
	border-radius: 10px;
	margin: 10px;
	background-color: white;
	background: url("images/algorithms-1641852_640.png") width 100px;
	float: left;
	text-align: center;
	font-size: 4em;
}

#inPlay {
	width: 48%;
	height: 500px;
	background: lightblue;
	border-radius: 20px;
	margin: 3px;
	float: right;
	display: flex;

}

#cardInPlay{

}

#deck {

}

#timer {

}

#score {

}

h1 #score {
	color: green;
}

#buttons {
	margin-left: 50px;
	display: inline-block;

}

.hidden {

}

.active {

}

#easy {

}

#hard {

}

#start {

}

#next {

}

#reset {

}

button#active {
	background: green;
}

button#hidden {
	background: grey;
}

#footer {
	width: 100%;
	height: 150px;
	background: lightgrey;
	border-radius: 10px;
	margin:5px;
}

#instruct {

}

#about {

}





