
body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

h1 { 
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	color: black;
}

nav a {
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: inline-block;
	float: left;
}

nav a:hover {
	background-color: #ee5f3c
}

.clearfix:after {
	visibility: hidden;
	display: inline-block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}

.botNav li {
	display: inline;
	font-size: x-small;
}

.bigger span {
	font-weight: bold;
	font-size: larger;
}

footer {
	width: 100%
	background-color:grey;
}
};