
body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

h1 { 
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	color: black;
}
nav {
	font-family: 'Open Sans', sans-serif;
}

.topNav li{
	margin: 0;
	padding: 0;
	height: 50px;
	display: inline-block;
	background-color: grey; 
}
}
};